<div class="container min-container">
    <h1 align="center">Edit Employee</h1>
    <br>

    <%= render 'form', employee: @employee %>
    
    <%= link_to 'Show', @employee %> |
    <%= link_to 'Back', employees_path %>
        
</div>
