<div class="container min-container">
        <h2 align="center">Add New Employee</h2>

        <%= render 'form', employee: @employee %>
        
        <%= link_to 'Back', employees_path %>
</div>

